#numberBtns {
    display: grid;
    grid-template-columns: 25px 25px 25px;
    grid-template-rows: 25px 25px 25px 25px;
    margin: 30px;
}

#operatorBtns {
    display: grid;
    grid-template-columns: 25px 25px 25px 25px;
    margin: 15px;
}

#result {
    font-size: 36px;
    margin: 25px;
}
